body {
    background-color: aqua;
}

h1 {
    text-align: center;
    size: 60px;
    color: red;
}

p {
    text-align: center;
    size: 30px;
    color: lime;
    background-color: #000000;
    border-radius: 15px;
}

